<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login</title>
        <script type='text/javascript' src='/javascripts/jquery.js'></script>
        <link rel="shortcut icon" href="oldzhou.ico" />
    </head>
    <body>
        <div style="text-align: center;">
            <div style="padding:10px; font-weight: 600;">-- Login --</div>
            <div>
                <form action="/login/check/" method="post">
                    u:<input name="username" type="text" />
                    p:<input name="password" type="password" />
                    <input type="submit" value="submit" />
                </form>
            </div>
        </div>
    </body>
</html>